[Oo]bj/
[Bb]in/
.nuget/
.vs/
.vscode/
_ReSharper.*/
packages/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
*.sln.ide
project.lock.json
.idea/
node_modules/
*.nupkg
*.nupkg.bak
*.msi
SharedAssemblyFileVersion.*
TestResult.xml
.generated/
Master.sln
after.Master.sln.targets
*.disable
*.Generated.cs
!BitTitanWebAPI/RestApi/**/*.Generated.cs
!SalesAutomationWeb/RestApi/**/*.Generated.cs
_PublishedWebsites/
_FrontEndBuildOutput/
_FrontEndTestBuildOutput/
*.VC.db
ParallelBuildLock.txt
.NETFramework,Version=v*.AssemblyAttributes.cs
*.R#
*.Build.log
SalesAutomationSmartCallClientNativeResources/Debug/
SalesAutomationSmartCallClientNativeResources/Intermediate/
/UserActivation/DeploymentPro/Debug
/UserActivation/DeploymentProBootstrap/Debug
/UserActivation/DeploymentPro/Release
/UserActivation/DeploymentProBootstrap/Release
*.opendb
/SalesAutomationSmartCallClientNativeResources/Release
*.dbmdl
*.jfm
TestResults/
/SendBus.tss
*.log
/ManagementProxy/Web References/*
/MigrationProxy/Web References/WebApi/*
/CodeMap1.dgml
/CmdletDocumentation/CmdletReference.html
*.dll-help.xml
/BitTitanPowerShell/BitTitanPowerShell.psd1
